@import '@/shared/styles/import.scss';
.ui-atomic-dropdown {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;

    &__toggle {
        position: absolute;
    }

    &__content {
        position: absolute;
        top: 60px;
        right: 25px;
    }

    .ui-molecule-dropdown-login {
        @include font-face(primary, white, xs, 500, normal, upper, none, 16);

        &__form {
            width: 352px;
            height: 361px;
            padding: 24px;

            form {

                label {
                }

                input {
                    border: solid 1px #424b5a;
                    border-radius: 4px;
                    background-color: #ffffff;
                    width: 100%;
                    height: 40px;

                    @include box-shadow-multi(0 8px 16px 0 rgba(62, 66, 70, 0.2));
                }
            }
        }

        &__title {

        }
    }
}
