@import '@/shared/styles/import.scss';

.ui-molecules-shortlist {
    $c: &;

    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 419px);

    @include padding(all, 28px 25px 75px);

    &--hide {
        @include padding(all, 114px 25px 75px);
    }

    .ui-molecules-alert {
        position: fixed;
        width: 100%;
        top: 82px;
        left: 419px;
        z-index: 100;

        @include box-shadow-multi(0 2px 8px 0 rgba(62, 66, 70, 0.1));
    }

    &__heading {
        width: 100%;

        @include padding(all, 0 0 28px);
        @include border-bottom(1px, solid, border);

        #{$c}__id {
            @include font-color(text-light);
        }
    }

    &__atrribute {
        align-items: center;

        .ui-atomic-attribute-info {
            @include margin-right(18px);

            &:last-child {
                @include no-margin();
            }
        }
    }

    &__table {
        width: 100%;

        @include padding(all, 24px 0);
    }
}
