@import '@/shared/styles/import.scss';

.ui-molecules-header {
    flex-direction: column;
    z-index: 100;
    width: 100vw;
    height: 80px;
    top: 0;
    right: 0;

    @include padding(all, 25px);
    @include background-color(white);

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 25px;
        width: calc(100%);
        @include border-bottom(1px, solid, border);
    }

    &__content {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
