/**
 * GLobal Color Variable
 */

$color-general: (
    white: #fff,
    primary: #355ae3,
    heading: #424b5a,
    secondary-heading: #3e4246,
    feature: #4e4e4e,
    text: rgba(#000, 0.7),
    text-light: rgba(#3e4246, 0.5),
    border: #ddd,
    border-light: #d8d8d8,
    table-field: #f7f8f9,
    table-value: rgba(#333, 0.7)
);
