@import '@/shared/styles/import.scss';

.ui-molecules-card-listing {
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    flex: 0 0 105px;
    min-height: 105px;
    cursor: pointer;

    &__image {
        width: 105px;
        height: 105px;
    }

    &__content {
        width: calc(100% - 105px);

        @include padding(all, 8px 16px);
    }

    &__id {
        @include font-color(rgba(get-color(heading), 0.5));
    }

    &__title,
    &__location {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}
