.button {
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    height: 40px;
    min-width: 120px;
    border-radius: 4px;
    background-color: #424b5a;
    border-style: none;
}
