@import '@/shared/styles/import.scss';

.ui-molecules-user-nav {
    margin-left: auto;

    &__bar {
        display: flex;
        align-items: center;

        .shareTitle {
            margin-right: 16px;

            @include font-face(primary, secondary-heading, xs, 500, normal, none, none, 16);
        }

        .shareLink {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 267px;
            border-radius: 2px;
            height: 32px;
            padding: 8px;
            margin-right: 24px;

            @include border(all, thin, solid, border);
            &__text {
                @include font-face(primary, secondary-heading, xs, 500, normal, none, none, 16);
            }

            &__icon {
                margin-left: auto;
                cursor: pointer;

                i.material-icons {
                    @include font-size(base);
                }
            }
        }

        .profileImage {
            width: 32px;
            height: 32px;
        }
    }
}

.ui-atomic-copy-popup {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #00e39d;
    padding: 8px 12px;
    animation: fadein 4s ease-in-out both 0s 1;

}

@keyframes fadein {
    0%, 100% {
        opacity: 1;
    }

    72% {
        opacity: 0;
    }
}
